html{ 
  overflow-y: scroll;
}

body{
  font-family: 'Lato';
  font-style: light;
  font-weight: 400;
  font-size: 20px;
}

.App {
  text-align: center;
  padding: 100px;
}

.application{
  background-color: #eeeeee;
}

.App-logo {
  height: 200px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}


.App-intro {
  font-size: large;
}

.input{
  display: flex;
  justify-content: center;
}

.submit {
  width: 100%;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.submit:hover {
  background-color: #4CAF50;
  color: white;
}



.Username{
  font-size: 20px;
  border: 1px solid  	#C8C8C8;
  border-radius: 5px;
  padding-left: 10px;
}

.Username:hover{
  border: 1px solid  	#A9A9A9;
  border-radius: 5px;
}

.Username:focus{
  border: 2px solid #2684ff;
  border-radius: 5px;
}

.options{
  color: #808080;
  width: 300px;
  border: 0px solid  	#C8C8C8;
  border-radius: 5px;
}

.options:hover{
  border: 0px solid  	#A9A9A9;
  border-radius: 5px;
}


